version = "1.0"

[main]
services = ["__APP__"]

[main.syncyunohost]
name = "SyncYunohost Configuration"

[main.syncyunohost.enabled]
ask.en = "Would you like to enable the SyncYunohost module to synchronize Dolibarr members with YunoHost?"
ask.fr = "Souhaitez-vous activer le module SyncYunohost pour synchroniser les membres dans Dolibarr avec les utilisateurs de YunoHost?"
type = "boolean"
yes = "yes"  # اصلاح به yes/no استاندارد
no = "no"

[main.syncyunohost.base_domain]
ask.en = "Choose the domain for Yunohost user's email creation:"
ask.fr = "Choisissez le domaine pour la création des emails des utilisateurs Yunohost:"
type = "domain"
visible = "syncyunohost.enabled"  # اصلاح رفرنس شرط

[main.syncyunohost.main_group]
ask.en = "Which Yunohost group do you want to sync Dolibarr's activated members with?"
ask.fr = "Avec quel groupe de yunohost souhaitez vous synchroniser les membres actifs de Dolibarr?"
type = "group"
visible = "syncyunohost.enabled"  # اصلاح رفرنس شرط
