#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "dolibarr"
name = "Dolibarr"
description.en = "Manage the various aspects of your business or association"
description.fr = "Gérez les différents aspects de votre activité pro ou associative"

version = "22.0.2~ynh3"

maintainers = ["mastereur"]

[upstream]
license = "GPL-3.0-or-later"
website = "https://www.dolibarr.org/"
demo = "https://www.dolibarr.org/onlinedemo"
admindoc = "https://www.dolibarr.org/documentation-home"
userdoc = "https://www.dolibarr.org/#features"
code = "https://github.com/Dolibarr/dolibarr"
cpe = "cpe:2.3:a:dolibarr:dolibarr"

[integration]
yunohost = ">= 12.0.9"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true
sso = true

disk = "200M"
ram.build = "150M"
ram.runtime = "150M"

[install]
    [install.domain]
    type = "domain"

    [install.path]
    type = "path"
    default = "/dolibarr"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"
    
    [install.syncyunohost_enabled]
    type = "boolean"
    ask.en = "Would you like to enable the SyncYunohost module to synchronize Dolibarr members with YunoHost users?"
    ask.fr = "Souhaitez-vous activer le module SyncYunohost pour synchroniser les membres de Dolibarr avec les utilisateurs de YunoHost ?"
    default = false
    
    [install.syncyunohost_base_domain]
    type = "domain"
    ask.en = "Choose the domain for YunoHost user's email creation"
    ask.fr = "Choisissez le domaine pour la création des e-mails des utilisateurs YunoHost"
    visible = "syncyunohost_enabled"
    
    [install.syncyunohost_main_group]
    type = "group"
    ask.en = "Which YunoHost group do you want to sync Dolibar's activated members with?"
    ask.fr = "Avec quel groupe de YunoHost souhaitez vous synchroniser les membres actifs de Dolibarr ?"
    default = "visitors"
    visible = "syncyunohost_enabled"
    
[resources]
    [resources.sources.main]
    url = "https://github.com/Dolibarr/dolibarr/archive/refs/tags/22.0.2.tar.gz"
    sha256 = "dfd8d4522d91dd8de4ddfa38242cd6767aa2615c9d0999a862eff23dad4c1dce"
    autoupdate.strategy = "latest_github_release"
    
    [resources.sources.main_21_0_4]
    url = "https://github.com/Dolibarr/dolibarr/archive/refs/tags/21.0.4.tar.gz"
    sha256 = "308602c1f2784d4f473a47263b8882e9d46d1370164f8c4115e1cd687889511e"
    prefetch = false

    [resources.sources.main_20_0_4]
    url = "https://github.com/Dolibarr/dolibarr/archive/refs/tags/20.0.4.tar.gz"
    sha256 = "b6554fe6c9854b209ba020a4759fbb0494078ace96c3ee1e0223fe9fd35f5667"
    prefetch = false

    [resources.sources.main_19_0_2]
    url = "https://github.com/Dolibarr/dolibarr/archive/refs/tags/19.0.2.tar.gz"
    sha256 = "7da083cff05bf6522e3140b6a19c9eb87cdbab2e06df4cbf3dbebd6dd47d886d"
    prefetch = false

    [resources.sources.main_18_0_1]
    url = "https://github.com/dolibarr/dolibarr/archive/18.0.1.tar.gz"
    sha256 = "37bd3c8533b821c241dbb34b0e88349c1d5b43f7ffa6027f0b7970748d1f727a"
    prefetch = false

    [resources.sources.main_17_0_1]
    url = "https://github.com/dolibarr/dolibarr/archive/17.0.1.tar.gz"
    sha256 = "2eddd545c07eae291ad46e48ab55d3adb988d99c29a8dfaa2e2fde0a890b0ddc"
    prefetch = false

    [resources.sources.main_16_0_5]
    url = "https://github.com/dolibarr/dolibarr/archive/16.0.5.tar.gz"
    sha256 = "c8298342558e62b955a6f4c01fedb6a187b2e0c0b2c1681a97158ca979f9304f"
    prefetch = false

    [resources.sources.main_15_0_3]
    url = "https://github.com/dolibarr/dolibarr/archive/15.0.3.tar.gz"
    sha256 = "b145a38f56c44b166721d64909fb12408c6d10d08fcf74d2c00418a60201cc9d"
    prefetch = false

    [resources.sources.main_14_0_5]
    url = "https://github.com/Dolibarr/dolibarr/archive/14.0.5.tar.gz"
    sha256 = "31f4c934e484a9582d8867e4170f1f1acd8c41628b059370a6a449eb6e94ae75"
    prefetch = false

    [resources.sources.main_13_0_5]
    url = "https://github.com/Dolibarr/dolibarr/archive/13.0.5.tar.gz"
    sha256 = "08ec08dc5093d614361f273237f5aaf8d70e63d764c2fa8d7f3f68a1485156d0"
    prefetch = false

    [resources.sources.main_12_0_5]
    url = "https://github.com/Dolibarr/dolibarr/archive/12.0.5.tar.gz"
    sha256 = "b60b124ebcd294375f6200cc0683449e475b5dec687f8317b820fc8ec1413d21"
    prefetch = false

    [resources.sources.main_11_0_5]
    url = "https://github.com/Dolibarr/dolibarr/archive/11.0.5.tar.gz"
    sha256 = "6f51435a4ffe576e836bf6449d900de9a56016f09591322cb2ba47a07c97679d"
    prefetch = false

    [resources.sources.main_10_0_7]
    url = "https://github.com/Dolibarr/dolibarr/archive/10.0.7.tar.gz"
    sha256 = "6efc230f400a7b7152a0e4b9ba02a780f38b869b4aebd2bc28883268270ef871"
    prefetch = false

    [resources.system_user]

    [resources.install_dir]
    group = "www-data:r-x"

    [resources.permissions]
    main.url = "/"

    api.url = "/api"
    api.allowed = "visitors"
    api.protected = false
    api.show_tile = false

    public.url = "/public"
    public.allowed = "visitors"
    public.protected = false
    public.show_tile = false

    [resources.apt]
    packages = [
        "php8.3-mysql",
        "php8.3-imagick",
        "php8.3-gd",
        "php8.3-mbstring",
        "php8.3-soap",
        "php8.3-curl",
        "php8.3-intl",
        "php8.3-ldap",
        "php8.3-opcache",
        "php8.3-calendar",
        "php8.3-zip",
        "php8.3-xml",
        "php8.3-fileinfo",
        "php8.3-imap",
        "mariadb-server",
    ]

    [resources.database]
    type = "mysql"
